/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap'
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
:root {
  /* text color */
  --white-color: #fff;
  --dark-color: #272727;
  --primary-color: #000000;
  --secondary-color: crimson;
  --light-pink-color: #faf4f5;
  --medium-gary-colour: #ccc;

  /* font size */
  --font-size-xs: 0.7rem;
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 2.9rem;

  /* fonnt weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

/* box shadow */
--box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  /* site max width */
  --site-max-width: 1300px;
}

/* styling for whole site */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* navbar styling */
.header {
  position: fixed;
  height: 60px;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
}

.header.sticky {
  padding: 10px 0;
  background: var(--secondary-color);
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.navbar .nav-menu {
  display: flex;
  position: absolute;
  right: 30px;
  top: 30px;
}
.header.sticky .nav-menu{
  top: 20px;
}

.navbar .nav-logo .logo-text {
  position: absolute;
  left: 50px;
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-logo .logo-text::after {
  content: 'lio.';
  color: var(--secondary-color);
}
.header.sticky .navbar .nav-logo .logo-text::after{
  content: lio;
  color: var(--white-color);
}

.navbar .nav-menu .nav-link {
  margin-left: 20px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: (--border-radius-m);
  transition: 0.3 ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--secondary-color);
}
.header.sticky .navbar .nav-menu .nav-link:hover{
  color: var(--white-color);
}



/* hero page styling */

.hero {
  display: flex;
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.hero .hero-section {
  margin: auto 0 auto 0;
}

.hero-section .hero-details {
  display: grid;
  margin-left: 50px;
}

.hero-section .hero-details .title {
  color: var(--white-color);
  font-size: var(--font-size-xxl);
}

.hero-section .hero-details .subtitle {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.hero-section .hero-details .subtitle::after {
  content: 'Freelancer|';
  color: var(--secondary-color);
}

.hero-section .hero-details .description {
  margin: 24px 0 20px;
  font-size: var(--font-size-m);
  color: var(--white-color);
}

.hero-section .hero-details .hire-me {
  margin-top: 10px;
  padding: 16px 24px;
  max-width: 40%;
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
  background: var(--secondary-color);
  text-align: center;
  border-radius: var(--border-radius-s);
  transition: 0.3s ease;
}

.hero-section .hero-details .hire-me:hover {
  background: none;
  padding: 13px 21px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: var(--border-radius-s);
}

/* about scetion styling */

.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about-section .about-me {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-size: var(--font-size-xl);
}

.about-section .about-me::before {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: var(--dark-color);
  transform: translateX(-50%);
}

.about-section .about-me::after {
  content: "who i am";
  position: absolute;
  bottom: -13px;
  left: 50%;
  padding: 5px;
  font-size: var(--font-size-m);
  color: var(--secondary-color);
  background: var(--white-color);
  transform: translateX(-50%);
}

.about .about-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  flex-wrap: wrap;
}

.about .about-content .column {
  width: calc(50% - 30px);
}

.about-content .left .about-image {
  width: 400px;
  height: 450px;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
}

.about-content .right {
  display: grid;
  grid-gap: 40px;
  align-content: center;
  max-width: 500px;
  height: 400px;
  padding: 0 30px;
}

.about-content .right .text {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}
.about-content .right .text::after {
  content: "freelancer";
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
}

.about-content p {
  text-align: justify;
  font-size: var(--font-size-s);
}

.about-content .right .download {
  width: 130px;
  height: 50px;
  padding: 15px;
  color: var(--white-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius-s);
  transition: 0.3s ease;
}

.about-content .right .download:hover {
  width: 130px;
  height: 50px;
  padding: 12px;
  background: none;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

/* all similar styling */

.about-me {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-size: var(--font-size-xl);
}

.about-me::before {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: var(--dark-color);
  transform: translateX(-50%);
}

.about-me::after {
  content: "who i am";
  position: absolute;
  bottom: -13px;
  left: 50%;
  padding: 5px;
  font-size: var(--font-size-m);
  color: var(--secondary-color);
  background: var(--white-color);
  transform: translateX(-50%);
}

/* services styling */

.services,
.team {
  background: var(--primary-color);
}

.services-section .about-me {
  padding-top: 100px;
  color: var(--white-color);
}

.services-section .about-me::before {
  background: var(--white-color);
}

.services-section .about-me::after {
  content: "what i provide";
  background: var(--primary-color);
}

.services-section .serv-content {
  margin-top: 100px;
}

.services .serv-content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.services-section .serv-content .card {
  color: var(--white-color);
}

.services-section .serv-content .card {
  height: 300px;
  width: calc(33% - 20px);
  background: var(--dark-color);
  text-align: center;
  border-radius: var(--border-radius-s);
  padding: 0 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services-section .serv-content .card:hover {
  background: var(--secondary-color);
}

.services-section .serv-content .card .box {
  display: grid;
  align-content: center;
  height: 300px;
  transition: all 0.3s ease;
}

.services-section .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services-section .serv-content .card i {
  font-size: var(--font-size-xl);
  color: var(--secondary-color);
}

.services-section .serv-content .card:hover i {
  color: var(--white-color);
}

.services-section .serv-content .card .text {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  margin: 10px 0 7px 0;
}

/* skill section styling */

.skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills .skills-section {
  margin: auto 30px auto 30px;
}

.skills-section .about-me {
  position: relative;
  text-align: center;
}

.skills-section .about-me::after {
  content: "what i know";
}

.skills-section .skill-content,
.contact .contact-section .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills-section .skill-content .column {
  width: calc(50% - 30px);
}

.skills-section .skill-content .left {
  display: grid;
  grid-gap: 15px;
}

.skills-section .skill-content .left .text {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.skills-section .skill-content .left p {
  text-align: justify;
}

.skills-section .skill-content .left a {
  width: 120px;
  height: 45px;
  padding: 15px;
  color: var(--white-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius-s);
  transition: 0.3s ease;
}

.skills-section .skill-content .left a:hover {
  width: 120px;
  height: 45px;
  padding: 12px;
  background: none;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

.skills-section .skill-content .right .bars{
  margin-bottom: 15px;
}

.skills-section .skill-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-section .skill-content .right .bars span{
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-s);
}

.skills-section .skill-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills-section .skill-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 0;
  top: 0;
  background: var(--secondary-color);
}

.skills-section .skill-content .right .html::before {
  width: 90%;
}

.skills-section .skill-content .right .css::before {
  width: 60%;
}

.skills-section .skill-content .right .js::before {
  width: 30%;
}

.skills-section .skill-content .right .php::before {
  width: 50%;
}

.skills-section .skill-content .right .mysql::before {
  width: 30%;
}

/* skill section styling  */

.team {
  padding-bottom: 100px;
  padding-top: 100px;
}

.team .team-section {
  margin: auto 40px auto 40px;
}

.team .about-me {
  color: var(--white-color);
}
.team .about-me::before {
  background: var(--white-color);
}
.team .about-me::after {
  content: "The Crew";
  background: var(--primary-color);
}

.team .carousel .card {
  padding: 25px 35px;
  color: var(--white-color);
  background: var(--dark-color);
  border-radius: var(--border-radius-s);
  text-align: center;
  transition: all 0.3s ease;
}

.team .carousel .card:hover {
  background: var(--secondary-color);
}

.team .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.team .carousel .card:hover .box {
  transform: scale(1.05);
}

.team .carousel .card .text {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  margin: 10px 0 7px 0;
}

.team .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
  border: 5px solid var(--secondary-color);
  transition: all 0.3s ease;
}

.team .carousel .card:hover img {
  border-color: var(--white-color);
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: var(--border-radius-circle);
  border: 2px solid var(--secondary-color) !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: var(--secondary-color) !important;

}

/* contact section starts */

.contact {
  margin-top: 100px;
}

.contact .contact-section {
  margin: auto 40px 100px 40px ;
}

.contact .contact-section .about-me::after {
  content: "get in touch";
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 20px;
}

.contact .contact-content .left p{
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: var(--font-size-l);
  color: var(--secondary-color);
}

.contact .contact-content .info .head {
  font-weight: var(--font-weight-semibold);
  padding: 10px 0;
}

.contact .contact-content .info  .sub-title {
  color: var(--dark-color);
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: var(--border-radius-s);
  outline: none;
  padding: 0 15px;
  font-size: var(--font-size-s);
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--secondary-color);
  background: var(--secondary-color);
  color: var(--white-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  background: none;
  color: var(--secondary-color);
}

/* footer styling  */

footer {
  background: var(--dark-color);
  padding: 20px 23px;
  color: var(--white-color);
  text-align: center;
}

footer span a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

footer span .fa-copyright {
  font-size: var(--font-size-xs);
}

@media (max-width: 860px) {

  .about-content .left .about-image {
    width: 350px;
    height: 400px;
  }

  .about-content .left {
    display: flex;
    justify-content: center;
  }

   .about .about-content .column {
    width: 100%;
   }

  
  .skills-section .skill-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 800px) {

  .about-content .right {
    display: grid;
    grid-gap: 40px;
    padding: 0 15px;
    margin-top: -100px;
    height: 500px;
    box-shadow: none;
  }

  .about-content .left .about-image {
    object-fit: cover;
  }

}

@media (max-width: 765px) {
  .navbar #nav-menu {
    display: block;
    margin-right: -50px;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: var(--dark-color);
    transition: all 0.3s ease;
  }
  .navbar #nav-menu.active {
    left: 0;
  }

  .navbar .nav-menu .nav-items {
    margin-top: 30px;
  }

  .navbar .nav-menu .nav-items .nav-link {
    display: inline-block;
  }

  .header.sticky .navbar #nav-menu.active .nav-link:hover{
    color: var(--secondary-color);
  }

  .hamburger {
    top:7.5;
    right: 20px;
    width: 25px;
    height: 3px;
    background: var(--secondary-color);
    position: absolute;
    border-radius: var(--border-radius-s);
    transition: 0.5s;
  }
  .header.sticky .hamburger {
    background: var(--white-color);
  }

  .hamburger:before {
    top: -8px;
  }

  .hamburger:after {
    top: 8px;
  }
  .icon-two {
    position: absolute;
    top: 35px;
    right: 0;
    width: 5px;
    height: 5px;
    cursor: pointer;
  }
  .header.sticky .icon-two {
    top: 25px;
  }

  .hamburger-two:before,
  .hamburger-two:after {
    content: '';
    position:absolute;
    width: 25px;
    height: 3px;
    background: var(--secondary-color);
    border-radius: var(--border-radius-s);
    transition:0.5s;
  }
  .header.sticky .hamburger-two:before,
  .header.sticky .hamburger-two:after {
    background: var(--white-color);
  }


  .icon-two .hamburger-two.active {
    width: 25px;
    height: 3px;
    transform:rotate(180deg);
    border-radius: var(--border-radius-s);
  }

  .icon-two .hamburger-two.active:before {
    top: -6px;
    right:-5px;
    width:20px;
    height: 3px;
    transform:rotate(-135deg);
    border-radius: var(--border-radius-s);
  }

  .icon-two .hamburger-two.active:after {
    top: 6px;
    right:-5px;
    width: 20px;
    height: 3px;
    transform:rotate(-45deg);
    border-radius: var(--border-radius-s);
  }

  .icon-two .hamburger-two.active,
  .icon-two .hamburger-two.active:before,
  .icon-two .hamburger-two.active:after {
    transition: 0.5s ease;
  }

  .services-section .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .services {
    background: var(--primary-color);
  }

  .services-section .serv-content .card {
    height: auto;
  }
}

@media (max-width: 690px) {
  .services-section .serv-content .card {
    width: 100%;
  }

  .services {
    background: var(--primary-color);
  }

}

@media (max-width: 435px) {
  .hero-section .hero-details .title {
    color: var(--white-color);
    font-size: var(--font-size-xl);
  }
  
  .hero-section .hero-details .subtitle {
    margin-top: 8px;
    color: var(--white-color);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
  }
  
  .hero-section .hero-details .subtitle::after {
    content: 'Freelancer|';
    color: var(--secondary-color);
  }
  
  .hero-section .hero-details .description {
    margin: 24px 0 20px;
    font-size: var(--font-size-m);
    color: var(--white-color);
  }
  
  .hero-section .hero-details .hire-me {
    margin-top: 10px;
    padding: 10px 20px;
    max-width: 40%;
    color: var(--white-color);
    font-weight: var(--font-weight-medium);
    background: var(--secondary-color);
    text-align: center;
    border-radius: var(--border-radius-s);
  }
  
  .hero-section .hero-details .hire-me:hover {
    background: none;
    padding: 7px 17px;
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    border-radius: var(--border-radius-s);
  }
}

@media (max-width: 400px) {
  .navbar .nav-logo .logo-text {
    left: 20px;
  }
  .hero-section .hero-details {
    margin-left: 20px;
  }
  .hero-section .hero-details .title {
    font-size: var(--font-size-xl);
  }
  .hero-section .hero-details .subtitle {
    font-size: var(--font-size-l);
  }
  .hero-section .hero-details .description {
    font-size: var(--font-size-s);
  }

  .about-content .left .about-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: var(--border-radius-s);
    border-bottom-left-radius: var(--border-radius-s);
  }

  .about-content .left {
    margin-bottom: 30px;
  }

  footer span,
  footer span a,
  footer span .fa-copyright{
    font-size: var(--font-size-xs);
  }

}